SoapToRest/Service References/TicketAPI/TicketAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TicketAPI" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ITicketAPI_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://customdev.journaltech.com/api/soap/TicketAPI.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://customdev.journaltech.com/api/soap/TicketAPI.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://customdev.journaltech.com/api/soap/TicketAPI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InterfaceBootcamp" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITicketAPI_getNewTickets_InputMessage">
    <wsdl:part name="parameters" element="tns:getNewTickets" />
  </wsdl:message>
  <wsdl:message name="ITicketAPI_getNewTickets_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNewTicketsResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketAPI_resetTickets_InputMessage">
    <wsdl:part name="parameters" element="tns:resetTickets" />
  </wsdl:message>
  <wsdl:message name="ITicketAPI_resetTickets_OutputMessage">
    <wsdl:part name="parameters" element="tns:resetTicketsResponse" />
  </wsdl:message>
  <wsdl:message name="ITicketAPI_getTicketUpdates_InputMessage">
    <wsdl:part name="parameters" element="tns:getTicketUpdates" />
  </wsdl:message>
  <wsdl:message name="ITicketAPI_getTicketUpdates_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTicketUpdatesResponse" />
  </wsdl:message>
  <wsdl:portType name="ITicketAPI">
    <wsdl:operation name="getNewTickets">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketAPI/getNewTickets" message="tns:ITicketAPI_getNewTickets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketAPI/getNewTicketsResponse" message="tns:ITicketAPI_getNewTickets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="resetTickets">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketAPI/resetTickets" message="tns:ITicketAPI_resetTickets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketAPI/resetTicketsResponse" message="tns:ITicketAPI_resetTickets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTicketUpdates">
      <wsdl:input wsaw:Action="http://tempuri.org/ITicketAPI/getTicketUpdates" message="tns:ITicketAPI_getTicketUpdates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITicketAPI/getTicketUpdatesResponse" message="tns:ITicketAPI_getTicketUpdates_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITicketAPI" type="tns:ITicketAPI">
    <wsp:PolicyReference URI="#BasicHttpBinding_ITicketAPI_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getNewTickets">
      <soap:operation soapAction="http://tempuri.org/ITicketAPI/getNewTickets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetTickets">
      <soap:operation soapAction="http://tempuri.org/ITicketAPI/resetTickets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTicketUpdates">
      <soap:operation soapAction="http://tempuri.org/ITicketAPI/getTicketUpdates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TicketAPI">
    <wsdl:port name="BasicHttpBinding_ITicketAPI" binding="tns:BasicHttpBinding_ITicketAPI">
      <soap:address location="https://customdev.journaltech.com/api/soap/TicketAPI.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>