SoapToRest/Service References/TicketAPI/TicketAPI.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://customdev.journaltech.com/api/soap/TicketAPI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InterfaceBootcamp" />
  <xs:element name="getNewTickets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getNewTicketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/InterfaceBootcamp" minOccurs="0" name="getNewTicketsResult" nillable="true" type="q1:ArrayOfTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="resetTickets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="resetTicketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="resetTicketsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTicketUpdates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTicketUpdatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/InterfaceBootcamp" minOccurs="0" name="getTicketUpdatesResult" nillable="true" type="q2:ArrayOfTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>